<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Te apoyamos SAS</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

    <header>
        
        <img src="https://i.pinimg.com/originals/da/94/65/da9465538a5c592733b49ee24625e601.jpg" alt="logo"style="width:10%; height: 10%; border-radius: 8px; align-items: center;"><h1>Te apoyamos SAS</h1>
        <div class="navbar">
            <a href="#nosotros">
                Nosotros
            </a>
            <a href="#trabaja">
                Trabaja con Nosotros
            </a> 
            <a href="#contacto">
                Contacto
            </a>
            <a href="#inicio">
                Iniciar sesión
            </a>
        </div>
    </header>

    <main>
        <section id="nosotros">
            <h2>Acerca de nosotros</h2>
            <p>La firma de abogados “Te apoyamos SAS”, está conformada por un
            equipo de profesionales disponibles para brindar asesoría legal y
            apoyo en la toma de decisiones en entornos profesionales donde el
            marco legal es un referente importante para el desarrollo y
            desempeño correcto de una organización. 
            </p>

            <p>Hacemos nuestro mejor esfuerzo por brindar una atención de alta calidad.</p>
            <p><strong>Ubicación:</strong> Av. 8 # 1- 25 barrio El Callejón<br>Cúcuta, Norte de Santander-Colombia</p>
            <p><strong>Horario:</strong> Todos los días 8am-6 pm</p>
            <p><strong>Telefono:</strong> (607) 5481719</p>
            <p><strong>Correo:</strong> radicacion@teapoyamos.com</p>
            <h3><strong>MISION:</strong></h3>
            <p>Brindar asesoría legal integral y de alta calidad para proteger los intereses de los clientes, resolviendo conflictos de manera justa y eficiente, y buscando la excelencia profesional</p>
            <h3><strong>VISION:</strong></h3>
            <P>Ser reconocida como líder en el sector por su profesionalismo, innovación, sus valores éticos y su capacidad para establecer relaciones de confianza a largo plazo con los clientes. </P><br>
            <h2>Servicios</h2>
            <div class="contenedor-servicios">
                <div class="tarjeta-servicio">
                <div class="icono">📄</div>
                <h3>Elaboración de contratos</h3>
                <p>Contratos empresariales, mercantiles, civiles, laborales y de compraventa.</p>
                </div>

                <div class="tarjeta-servicio">
                <div class="icono">👩‍⚖️</div>
                <h3>Abogado de divorcios</h3>
                <p>Asesoría y representación en audiencias y procesos de conciliación o divorcio.</p>
                </div>

                <div class="tarjeta-servicio">
                <div class="icono">⚖️</div>
                <h3>Abogado de despidos</h3>
                <p>Defensa ante despidos y acompañamiento jurídico laboral personalizado.</p>
                </div>

                <div class="tarjeta-servicio">
                <div class="icono">🏠</div>
                <h3>Herencias y sucesiones</h3>
                <p>Tramitación de herencias, sucesiones y cumplimiento de voluntad legal.</p>
                </div>

                <div class="tarjeta-servicio">
                <div class="icono">📄</div>
                <h3>Creación de empresas</h3>
                <p>Tramitamos todos los requisitos y nos encargamos del apartado legal que implica la creación de una empresa en Colombia.</p>
                </div>

                <div class="tarjeta-servicio">
                <div class="icono">📄</div>
                <h3>Contabilidad empresarial</h3>
                <p>Asesorías contables, representación extrajudicial, representación judicial, etc.</p>
                </div>

            </div>

            
                
            <h2>Noticias</h2>
            <div class="contenedor-noticias">
                <div class="tarjeta-noticia">
                <div class="categoria">Derecho Público</div>
                <div class="titulo-noticia"><a href="https://www.ambitojuridico.com/noticias/derecho-publico/emiten-decreto-para-garantizar-orden-publico-durante-votaciones-del-26" style="text-decoration: none;">Emiten decreto para garantizar orden público durante votaciones del 26 octubre</a></div>
                <div class="fecha">20 de octubre</div>
                </div>

                <div class="tarjeta-noticia">
                <div class="categoria">Derecho Público</div>
                <div class="titulo-noticia"><a href="https://www.ambitojuridico.com/noticias/derecho-publico/tributario-y-contable/representante-miguel-polo-polo-debe-ofrecer-disculpa" style="text-decoration: none;">Representante Miguel Polo Polo debe ofrecer disculpa al Colectivo de Madres de Falsos Positivos</a></div>
                <div class="fecha">20 de octubre</div>
                </div>

                <div class="tarjeta-noticia">
                <div class="categoria">Derecho Público</div>
                <div class="titulo-noticia"><a href="https://www.ambitojuridico.com/noticias/derecho-publico/investigaran-funcionarios-de-la-dian-por-perdida-de-mas-de-44-mil-millones" style="text-decoration: none;">Investigarán a funcionarios de la Dian por pérdida de más de $44 mil millones</a></div>
                <div class="fecha">17 de octubre</div>
                </div>
            </div>
        </section>

        <section id="trabaja">
          
            <h2>TRABAJA CON NOSOTROS</h2>
                <form>
                    <label>Nombre Completo:</label>
                    <input type="text" >
                    
                    <label>Correo Electrónico:</label>
                    <input type="email" >

                    <label>Telefono:</label>
                    <input type="number" >
                    
                    <label>Años de Experiencia:</label>
                    <input type="text" >

                    <label>Area de especialidad:</label>
                    <input type="text" >

                    <label>Adjunta tu hoja de vida (PDF):</label>
                    <input type="file" accept=".pdf">

                    <button type="submit">ENVIAR</button>
                </form>
        </section>
        <section id="contacto">
            <h2>Nuestros canales de atención</h2>

            <div class="canales">
            <div class="canal">
                <i class="fa-brands fa-whatsapp"></i>
                <p>+01 800 518 6885</p>
            </div>

            <div class="canal">
                <i class="fa-solid fa-phone"></i>
                <p>+ (607) 596 9035</p>
            </div>

            <div class="canal">
                <i class="fa-solid fa-envelope"></i>
                <p>contacto@teapoyamos.co</p>
            </div>
            </div>
        </section>

        <section id="inicio">
            <h2>Iniciar sesión</h2>
            <div class="form-container">
            <!-- Mostrar mensaje de error si las credenciales son incorrectas -->
            @if(session('error'))
                <div style="color: red; margin-bottom: 10px;">
                    {{ session('error') }}
                </div>
            @endif

            <form action="/login" method="POST">
                @csrf
                <label for="usuario">Usuario:</label>
                <input type="text" id="usuario" name="usuario" placeholder="Ingrese su usuario" required>

                <label for="clave">Clave:</label>
                <input type="password" id="clave" name="clave" placeholder="Ingrese su clave" required>

                <button type="submit">Ingresar</button>
            </form>
            </div>
        </section>  
  
            

        
        
        
    </main>

    <footer>
        <p>&copy; 2025 Te apoyamos. Todos los derechos reservados.</p>
    </footer>

    
</body>
</html>