body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
 header img {
    margin-top: 20px;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background-color: white;
    padding: 5px;
    }

header {
    background-color: #073657;
    color: #fff;
    text-align: center;
    max-width: 900px;
    margin: 20px auto;
    padding: 0 20px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: #073657;
    padding: 10px 20px;        
                   
}
       
.navbar .menu {
    display: flex;
    gap: 15px;
            
            
}

.navbar a {
    color: rgb(0, 0, 0);
    background-color: #e9ecef;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #f7f7f7;
    border-radius: 5px;
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1 {
    color: #ffffff;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    text-align: center;
    font-size: 60px;
}

h2 {
    color: #005a9c;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    text-align: center;
}

.contenedor-noticias {
    background-color: #fff;
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }

  .tarjeta-noticia {
    width: 250px;
    border-left: 3px solid #073657;;
    padding-left: 10px;
  }

  .categoria {
    color: #073657;;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  .titulo-noticia {
    font-size: 15px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
  }

  .fecha {
    color: gray;
    font-size: 12px;
  }

.contenedor-servicios {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
      max-width: 1100px;
      margin: 0 auto;
    }

    .tarjeta-servicio {
      background-color: #073657;
      color: white;
      width: 240px;
      padding: 30px 20px;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      transition: transform 0.3s ease;
    }


    .icono {
      font-size: 36px;
      margin-bottom: 15px;
    }

    .tarjeta-servicio h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .tarjeta-servicio p {
      font-size: 14px;
      line-height: 1.5;
      color: #eaeaea;
    }

    form {
      margin-top: 20px;
      display: grid;
      flex-direction: column;
      gap: 10px;
      max-width: 400px;
      margin-bottom: 1em;
      padding: 2em;
      margin: 0 auto
      
    }

    input[type="text"],
    input[type="email"],
    input[type="file"] {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      background-color: #073657;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background-color: #073657;
    }

    .canales {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 25px;
    }

    .canal {
      background-color: #073657;
      color: white;
      width: 250px;
      height: 140px;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: 0 4px 10px rgba(0,0,0,0.15);
      
    }

    .canal:hover {
      background-color: #073657;
    }

    .canal i {
      font-size: 40px;
      margin-bottom: 10px;
    }

    .canal p {
      font-size: 18px;
      font-weight: bold;
      margin: 0;
    }

   












.ruta-card h3 {
    color: #005a9c;
    margin-top: 0;
}

.ruta-card .horarios {
    font-style: italic;
    color: #666;
}



.formulario-container {
            background-color: #fff;
            padding: 2em;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            width: 400px;
        }

        .form-group {
            margin-bottom: 1em;
        }
        label {
            display: block;
            margin-bottom: 0.5em;
            font-weight: bold;
        }
        input, select {
            width: 100%;
            padding: 0.8em;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
        }
        